@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  /* color: #282828; */
  color: gray;
  background-color: #fbfbf2;
}

* {
  box-sizing: border-box;
}

a {
  color: #f36969;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.actionlinks {
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}

.sociallinks {
  max-width: 400px;
  display: flex;
  justify-content: space-around;
}

.introheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* added from layouts */
.mycontainer {
  max-width: 36rem;
  padding: 0rem 1rem;
  margin: auto;
  /* background-color: rgba(222, 217, 217, 0.2); */
  border-radius: 0.5rem;
}

.intro-heading {
  margin: 0;
  color: inherit;
  font-size: 2rem;
  font-weight: 800;
}

.intro-subheading {
  margin: 0;
  color: #a6a5aa;
  font-size: 1.2rem;
  font-weight: 600;
}

.social-link-icon {
  max-width: 16px;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0.3rem 0;
}

.enlarge-on-hover img {
  transform: scale(1); /* Initial size */
  transition: transform 0.3s ease;
}

.enlarge-on-hover:hover img {
  transform: scale(1.2); /* Enlarge the image by 20% on hover */
}

/*rounded button*/
.rounded-button {
  display: inline-block;
  width: 200px;
  padding: 5px 20px;
  font-size: 16px;
  /* font-weight: bold; */
  text-align: center;
  text-decoration: none;
  border-radius: 30px; /* Rounded corners */

  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
  outline: none;
}

.rounded-button:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease;
}

.action-button {
  background-color: #f36969;
  color: #ffffff;
  border: #f36969 1px solid;
}

.secondary-button {
  background-color: ffffff;
  color: #f36969;
  border: #f36969 1px solid;
}

.myfont {
  margin: 0;
  color: inherit;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  color: #f36969;
}

.myfont2 {
  margin: 0;
  color: inherit;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  color: gray;
}
