@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #2b2d42;
}

* {
  box-sizing: border-box;
}

a {
  color: #ef233c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.actionlinks {
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}

.sociallinks {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-around;
}

.introheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* added from layouts */
.mycontainer {
  max-width: 36rem;
  padding: 0rem 1rem;
  margin: auto;
  /* background-color: rgba(222, 217, 217, 0.2); */
  border-radius: 0.5rem;
}

.intro-heading {
  margin: 0;
  color: inherit;
  font-size: 2rem;
  font-weight: 800;
}

.intro-subheading {
  margin: 0;
  color: #A6A5AA;
  font-size: 1.2rem;
  font-weight: 600;
}

.social-link-icon{
  max-width: 16px;
}